html,
:host {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom, #ffff, #e1e1e1);    
    background-repeat: no-repeat;
    color: #131313;
}

h2 {
    padding-top: 3rem;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 600;
}

