.home {
    display: flex;
    padding: 4rem 8rem 4rem 8rem;
}

.heart-logo {
    position: relative;
}

.heart-logo img {
    width: 20rem;
}

.heart-logo article {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-logo p {
    letter-spacing: 6.4px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    text-align: center;
}

.heart-logo p span {
    white-space: nowrap;
}

.heart-logo a {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, 0);

    color: white;
    background-color: #3D2F26;

    padding: .75rem 1.5rem;

    border-radius: 6px;
    letter-spacing: 4px;
    white-space: nowrap;
}
